body {
  margin:0;
  background:#1B1B1B;
  color:#ddd;
  font: 62.5%/175% Verdana, Arial, Helvetica, Tahoma, sans-serif;
  padding-bottom: 50px;
}

h1 {
  margin:1px 0;
  font: normal 24px Helvetica,Arial,"Lucida Grande","Lucida Sans",Verdana,sans-serif;
  width:780px;
  margin: 0 auto;
  text-align:left;
  color: #fff;
}

h2 {
  font-weight: normal;
  font-size: 1.2em;
}

h3 {
  font-family: 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
  font-weight: normal;
  border-bottom: 1px solid;
}

a {
    color: #6dcff6;
  text-decoration: none;
}

#wrapper {
  text-align:center;
}

#header {
  background:#0A0A0A;
  padding: 25px 0 10px;
  border-bottom: 1px solid #242424;
}

#content {
  width:780px;
  margin: 0 auto;
  font-size: 1.2em;
  text-align:left;
  color:#ddd;
  padding-top:20px;
}

ul li {
  list-style: square;
}

#footer {
  background:#111;
  border-bottom: 1px solid #242424;
  padding: 15px 0;
}

#test {

}

#test2 {
  background:red;
}